header {
  margin-top: 40px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header a {
  padding: 0 20px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.first-screen {
  padding: 150px 0;
  text-align: center;
}

.navbar {
  justify-content: center;
}

.line {
  margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #07080A;
	box-shadow: 0 20px 20px -20px rgb(7 8 10 / 73%);
	width: 95%;

}

.menu {
  background-color: #07080A;
  color: white;
  padding: 35px;
  border-radius: 100px;
}

.about {
  color: white;
  overflow: hidden;
  border-radius: 100px;
  background: rgb(7,8,10);
  background: linear-gradient(171deg, rgba(7,8,10,1) 60%, rgba(150,108,193,1) 100%);
  transition: 300ms;
}

.about:hover {
  scale: 102%;
}

.about-img {
  display: flex;
  justify-content: right;
}

.about-img img {
  margin-right: -20px;
}

.about-txt {
  padding: 15px 0 0 70px;
}

.skills-card {
  background-color: white;
  border-radius: 100px;
  overflow: hidden;
  padding: 10px;
  margin: 25px;
  transition: 300ms;
}

.skills-card img {
  margin: 5px 0 5px -5px;
  width: 128px;
  height: 128px;
}

.skills-card h3 {
  margin-top: 13px;
}

footer {
  background-color: #07080A;
  color: white;
  padding: 25px 0;
  text-align: center;
}

.portfolio-card {
  background-color: white;
  border-radius: 50px;
  overflow: hidden;
  text-align: center;
  padding: 0 50px 25px 50px;
}

.portfolio-card h3 {
  margin: 15px 0;
}

.portfolio-card img {
  border-radius: 0 0 25px 25px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  transition: 300ms;
  margin-bottom: 15px;
}

.section-title {
  text-align: center;
}

h2 {
  font-weight: bold;
}

body {
  background-image: url('../img/Paper.png');
  background-size: contain;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-family: "GolosTextWebBold";
  font-size: 4.2rem;
}

h2 {
  font-size: 2.8rem;
  margin: 50px 0 15px 0;
}

h2,
h3,
h4 {
  font-family: "GolosTextWebBold";
}

@font-face {
  font-family: "GolosTextWebBold";
  src: url("fonts/golos-text_bold.woff") format("woff2"),
    url("fonts/golos-text_bold.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

.btn {
  border-radius: 50px;
  font-size: 1rem;
  padding: 15px 45px;
}

p {
  font-size: 20px;
}

.confident a {
  font-size: 0.8rem;
  color: rgb(190, 190, 190);
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.skills-card p {
  font-size: 0.9rem;
}

.section-title {
  margin-bottom: 50px;
}

.stack {
  text-align: center;
  margin: 50px 0;
}

.stack img {
  max-height: 75px;
}

.skills-card:hover {
  scale: 102%;
}

.portfolio-card img:hover {
  scale: 102%;
}

.stack img {
  transition: 300ms;
  filter: grayscale(100%);
}
.stack img:hover {
  scale: 112%;
  filter: grayscale(0%);
}

.github-icon {
  font-size: 2rem;
}
